---
import playerImage from '../assets/jake.jpg';
---
<section class="bg-gradient-to-b from-gray-900 to-gray-700 text-white py-16">
    <div class="max-w-4xl mx-auto px-6 text-center">
      <img src={playerImage.src} alt="Player Photo" class="mx-auto rounded-full border-4 border-white shadow-lg w-32 h-32 object-cover">
      <h1 class="text-4xl font-bold mt-4">Jacob Lohr</h1>
      <p class="text-gray-300">3rd Base, Pitcher | #26 | Eagles Baseball</p>
    </div>
  </section>